      body{
        overflow-x: hidden;
      }
      #image{
          position: fixed;
          width: 100%;
          height: 75px;
          z-index: 999;
          background-color: #0000;
      }
      #image.scrolled{
        background: #ffffff !important;
      }
      .con{
          float: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
      }
      .right{
          float: none;
          position: absolute;
          top: 50%;
          left: 90%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          color: red;
      }
      .button{
          padding: 10px 10px;
          color: white;
          text-align: center;
          border: none;
      }
      .button1{
          width: 150px;
          color:#d92929 !important;
          border-color:#d92929 !important;
          font-weight: bold !important;
      }
/* category 1 */
      .wrapper {
          position: relative;
          display: inline-block;
          width: 100%;
          margin: 0 auto;
          height: 100%;
      }
      #img{
          width: 100%;
          height: 400px;
      }
     .content{
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        top: 50%;
        left: 87%;
        transform: translate(-50%, -50%);
      }
      .color{
        color: #ffffff;
        font-size: 50px;
        font-weight: bolder;
      }
     
/* end */
/* category 2 */
  .add{
    margin-left: 15em;
    margin-top: 5%;
    margin-right: 12em;
    color: #333;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15em;
  }
  p{
    display: block;
    margin-block-start:  1em;
    margin-block-end: 1em;
    margin-inline-start:  0px;
    margin-inline-end: 0px;
  }
/* end  */

/* FOOTER */
      .footer {
        width: 100%;
        position: relative;
        height: auto;
        background-color: #ffffff;
        border-radius: 0px;
        font-size: 14px;
        font-family: Tahoma;
        color: gray;
      }
      .footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;

      }
      .footer .col ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
      }
   
      .social ul li {
        display: inline-block;
        padding-right: 5px !important;
      }

      .footer ul li:hover {
        color: darkred;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
        cursor: pointer;
      }

      @media only screen and (min-width: 1280px) {
        .contain {
          width: 1200px;
          margin: 0 auto;
          margin-right: 20%;
        }
      }
       @media only screen and (min-width: 1280px) {
        .contain1 {
          width: 1200px;
          margin: 0 auto;
          margin-left: 80%;
        }
      }
      .grayscale{
          margin-left: 5%; 
          filter: grayscale(100%);
      }
      ul#menu li{
        display: inline;
      }
      ul.align{
        margin-top:-40px; 
        margin-left: 65%;
      }