      body{
        overflow-x: hidden;
        overflow-y: hidden;
      }
      #image{
        position: fixed;
        width: 100%;
        height: 75px;
        z-index: 999;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      }
      .images{
        width: 200;
        height: 50;
        margin-left: 10%;
      }
/* end navigation */
     #img{
        width: 100%;
        height: 800px;
        opacity: 0.6;
      }
      .user_card {
        width: 370px;
        height: 450px;
        margin-top: -650px;
        margin-bottom: auto;
        background: #ffffff;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
      }
      .lefts{
        text-indent: 1.5em; 
        font-family: Arial Black;
      }
      #form-title{
        color: #000000;
        margin-top: 20px;
      }
      .sign{
        text-indent: 1.5em; 
        font-family: Arial;
      }
      .form_container {
        margin-top: 20px;
      }
      #inputss{
        width: 300px;
      }
      .login_btn {
        width: 100%;
        color: #d92929 !important;
        border-color: #d92929 !important;
        font-weight: bold !important;
      }
      .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
      }
      .linkss{
        font-family: Arial;
        font-size: 14px;
      }
      .mls{
        color:red; 
        text-decoration:none; 
        font-size:14px;
      }
      #messages{
        font-size: 11px;
        color: red;
        padding: 2px;
        margin-top: 5px;
        margin-left: 1em;
      }
      .f{
        font-family: Arial;
        text-indent: 20px;
        font-size: 11px;
        margin-top: 20px;
        text-decoration: none;
      }
      .mlss{
        text-decoration:none; 
        color:red;
      }