{% load static %}

{% block headerinclude %}

<style>
      body{
        overflow-x: hidden;
      }
      #image{
          position: fixed;
          width: 100%;
          height: 75px;
          z-index: 999;
          background-color: #0000;
      }
      #image.scrolled{
        background: #ffffff !important;
      }
      .con{
          float: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
      }
      .right{
          float: none;
          position: absolute;
          top: 50%;
          left: 90%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          color: red;
      }
      .button{
          padding: 10px 10px;
          color: white;
          text-align: center;
          border: none;
      }
      .button1{
          width: 150px;
          color:#d92929 !important;
          border-color:#d92929 !important;
          font-weight: bold !important;
      }
/* category 1 */
      .wrapper {
          position: relative;
          display: inline-block;
          width: 100%;
          margin: 0 auto;
          height: 100%;
      }
      #img{
          width: 100%;
          height: 400px;
      }
     .content{
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        top: 50%;
        left: 87%;
        transform: translate(-50%, -50%);
      }
      .color{
        color: #ffffff;
        font-size: 50px;
        font-weight: bolder;
      }
     
/* end */
/* category 2 */
  .add{
    margin-left: 15em;
    margin-top: 5%;
    margin-right: 12em;
    color: #333;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15em;
  }
  p{
    display: block;
    margin-block-start:  1em;
    margin-block-end: 1em;
    margin-inline-start:  0px;
    margin-inline-end: 0px;
  }
/* end  */

/* FOOTER */
      .footer {
        width: 100%;
        position: relative;
        height: auto;
        background-color: #ffffff;
        border-radius: 0px;
        font-size: 14px;
        font-family: Tahoma;
        color: gray;
      }
      .footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;

      }
      .footer .col ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
      }
   
      .social ul li {
        display: inline-block;
        padding-right: 5px !important;
      }

      .footer ul li:hover {
        color: darkred;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
        cursor: pointer;
      }

      @media only screen and (min-width: 1280px) {
        .contain {
          width: 1200px;
          margin: 0 auto;
          margin-right: 20%;
        }
      }
       @media only screen and (min-width: 1280px) {
        .contain1 {
          width: 1200px;
          margin: 0 auto;
          margin-left: 80%;
        }
      }
      .grayscale{
          margin-left: 5%; 
          filter: grayscale(100%);
      }
      ul#menu li{
        display: inline;
      }
      ul.align{
        margin-top:-40px; 
        margin-left: 65%;
      }
</style>
     
{% endblock headerinclude %}

{% block content %}
     <title>Features | ClickToEat</title>
      <link rel="shortcut icon" type="image/png/jpg" href="{% static 'mysite/favicon/favicon.png '%}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
   

<!-- Navigation Bar -->
    <nav id="image" class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="/home">
          <img src="{% static 'mysite/images/finallogos.png' %}" width="200" height="50" style="margin-left: 10%;">
        </a>
    </nav>

<!-- End Navigation Bar -->

      <img id="img" src="{% static 'mysite/images/backterm.jpg' %}">
    <div class="content">
        <h1 class="color">FEATURES</h1>
    </div>
  <div class="add">
    <p>Click To Eat Delivery is a very friendly application for everybody and it is very easy to use. We have a customer service call on our app that can assist the blind people on their order.</p>
    <p>The Click to Eat group is the leading global online food delivery marketplace. Headquartered in Cebu City, Philippines.</p>
    <p>Click to Eat allows users to conveniently discover food around their neighbourhood and directly order their favourite meals online or via mobile.</p>
    <p>Click to Eat was launched in June 2021.</p>
    <p>We are a small team of problem solvers, designers, thinkers and tinkers, working around the clock to make click to eat the most powerful online tool for food delivery. We believe that ordering food should be easy, fast and definitely fun!</p>
  </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <script>
        $(window).scroll(function(){
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 10);
        });
    </script>
    </div>

{% endblock content %}    

{% block footerinclude %}
    <!-- Footer -->
<hr>
<div class="footer">
<div style="padding: 20px;">
  <img src="{% static 'mysite/images/finallogos.png' %}" width="150" height="40" class="grayscale">
  <div class="contain1">
  <div class="col social">
    <ul style="margin-top:-35px;" class="grayscale">
      <li><img src="{% static 'mysite/images/facebook.png' %}" alt="Snow" style="width: 27px"></li>
      <li><img src="{% static 'mysite/images/instagram.png' %}" alt="Snow" style="width: 27px"></li>
      <li><img src="{% static 'mysite/images/twitter.png' %}" alt="Snow" style="width: 27px"></li>
    </ul>
  </div>
</div>
</div>
</div>
<hr>
<div class="footer">
<div style="padding: 20px; margin-left: 5%;">
  &copy; 2021-2022  Click To Eat
  <p>Designed by Cueva, Aarold Paul & Orcullo, Mary Alissa</p>
    <div class="contain">
  <div class="col">
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
  <div class="">
    <ul class="align" id="menu">
      <li><a style="text-decoration: none; color:#989898;" href="/about">About</a></li>
      <li><a style="text-decoration: none; color:#989898;" href="/contact">Contact</a></li>
      <li><a style="text-decoration: none; color:#989898;" href="/terms">Terms and Conditions</a></li>
      <li><a style="text-decoration: none; color:#989898;" href="/privacy">Privacy Policy</a></li>
    </ul>
  </div>
</div>
</div>
</div>
    <!-- // Footer -->    

{% endblock footerinclude %}            


