{% load static %}

{% block content %}
    <title>Terms and Conditions | ClickToEat</title>
    <link rel="shortcut icon" type="image/png/jpg" href="{% static 'mysite/favicon/favicon.png '%}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/terms.css' %}"/>
   

<!-- Navigation Bar -->
    <nav id="image" class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand">
          <img class="images" src="{% static 'mysite/images/finallogos.png' %}">
        </a>
    </nav>

<!-- End Navigation Bar -->

      <img id="img" src="{% static 'mysite/images/backterm.jpg' %}">
    <div class="content">
        <h1 class="color">TERMS AND CONDITIONS</h1>
    </div>
  <div class="add">
    <p>Published: 5 October 2021</p>
    <p>TERMS OF USE</p>
    <p>These Terms of Service (“Terms”) govern your use of Click To Eat's (or "us") websites and mobile applications (collectively, the "Platforms"). Please take the time to read these Terms carefully. By accessing and using the Platforms, you acknowledge that you have read, understood, and agreed to the Terms, as well as any additional terms and conditions and policies noted herein. Please do not use the Platforms if you do not agree with or fall under the Terms.</p>
    <p>The Platforms are available to I natural individuals over the age of 18 and (ii) corporate legal entities, such as corporations. These Terms are subject to country-specific provisions as set forth below, where relevant.</p>
    <p>Users under the age of 18 must acquire permission from their parent(s) or legal guardian(s), who agree to take responsibility for your actions and any charges associated with your usage of the Platforms and/or purchase of Goods by accepting these Terms. You must immediately stop using/accessing the Platforms if you do not have authorization from your parent(s) or legal guardian(s).</p>
    <p>At any moment, clicktoeat has the right to update or modify these Terms (including any rules incorporated into these Terms). It is strongly advised that you read these Terms on a frequent basis. By continuing to use the Platforms after the updated Terms have been posted, you will be deemed to have consented to the amended Terms.</p>
    <p id="p1">1 Click To Eat</p>
    <p>1.1 What we do</p>
    <p>Clicktoeat connects you to vendors ("Vendors") so that you can order a range of things to be delivered to you, including cooked meals, non-prepared food, and various non-food items (hence together referred to as "Goods"). When you make an order for Goods from one of our Vendors ("Order"), clicktoeat acts as an agent for that Vendor, facilitating, processing, and concluding the order, and then either us or the Vendor delivering your Order to you. Third-party vendors, our affiliate firms, or us may own and operate vendors.</p>
     <p>1.2 How to contact us</p>
     <p>You can contact us for customer assistance by email or through our in-app customer help chat function.</p>
     <p id="p1">2 Use of the Platforms and Click To Eat Account</p>
     <p>2.1 In order to use the Platform, you must first create a clicktoeat account. We will ask you for personal information such as a valid email address, a mobile phone number, and a unique password when you register for a clicktoeat account. Depending on the payment option you choose, you may be required to give us with your credit card information in order to purchase an Order. Your one-of-a-kind password should never be shared, and you agree to keep it private at all times. It is solely your responsibility to keep your password secure. Except in circumstances of fraud or abuse that are not your fault, you agree that you are solely responsible for all Orders placed under your clicktoeat account.</p>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

{% endblock content %}    

{% block footerinclude %}
    <!-- Footer -->
<hr>
<div class="footer">
<div class="footers">
  <img id="footimg" src="{% static 'mysite/images/finallogos.png' %}" class="grayscale">
  <div class="contain1">
  <div class="col social">
    <ul id="grayscales" class="grayscale">
      <li><img class="imgs" src="{% static 'mysite/images/facebook.png' %}" alt="Snow"></li>
      <li><img class="imgs" src="{% static 'mysite/images/instagram.png' %}" alt="Snow"></li>
      <li><img class="imgs" src="{% static 'mysite/images/twitter.png' %}" alt="Snow"></li>
    </ul>
  </div>
</div>
</div>
</div>
<hr>
<div class="footer">
<div class="foot">
  &copy; 2021-2022  Click To Eat
  <p>Designed by Cueva, Aarold Paul & Orcullo, Mary Alissa</p>
    <ul class="align" id="menu">
      <li><a id="foots" href="/about">About</a></li>
      <li><a id="foots" href="/contact">Contact</a></li>
      <li><a id="foots" href="/terms">Terms and Conditions</a></li>
      <li><a id="foots" href="/privacy">Privacy Policy</a></li>
    </ul>
  </div>
</div>
    <!-- // Footer -->    

{% endblock footerinclude %}            


